{% extends 'dashboard/base.html' %} 

{% load static %}

{%block title%}
    {% if doctor %}
        {{doctor.first_name}} {{doctor.last_name}}
    {% else %}
        User Not Found
    {% endif %}
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/individual_doctor.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%endblock%}


{%block content%}
    {% if doctor %}
        <div>
            <a><button class="go_back_button" onclick="go_back()"> < </button></a>
        </div>
        <div>
            <table class="doctor-table">
                <tr>
                    <th class="doctor-label">ID</th>
                    <td>{{doctor.id}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">First Name</th>
                    <td>{{doctor.first_name}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Last Name</th>
                    <td>{{doctor.last_name}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Gender</th>
                    <td>{{doctor.gender}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Mobile Number</th>
                    <td>{{doctor.mobile_number}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Emergency Contact</th>
                    <td>{{doctor.emergency_contact}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Address</th>
                    <td>{{doctor.address}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Age</th>
                    <td>{{doctor.age}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Medical Licence Number</th>
                    <td>{{doctor.medical_license_number}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Email</th>
                    <td>{{doctor.email}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Availability</th>
                    <td>{{doctor.availability}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Experience</th>
                    <td>{{doctor.experience}}</td>
                </tr>
                <tr>
                    <th class="doctor-label">Specialty</th>
                    <td>{{doctor.specialty}}</td>
                </tr>
            </table>
        </div>
    {% else %}
        <div class="user_not_found_div">
            <h1 class="user_not_found_h1">User Not Found</h1>
        </div>
    {%endif%}
{%endblock%}



{%block extra_js%}
    <script>
        function go_back(){
            window.history.back()
        }
    </script>
{%endblock%}
