.white_amount {
    color: white;
}

.green_amount {
    color: green;
}

.red_amount {
    color: red;
}

.white_text {
  color: white;
}



.patient-table {
    border-collapse: collapse;
}

table, th, td {
    padding: 15px;
    text-align: left;
  }

  th, td {
    border: 1px solid #ddd;
  }

  th {
    background-color: #1c1c1c;
    color: white;
    font-weight: bold;
  }
  .patient-data {color: white;}



.no_width {
  width: 50px;
}

.name_width {
  width: 150px;
}

.description_width {
  width: 350px;
}

.cost_width {
  width: 150px;
}

.text_right {
  text-align: right;
}



  .no_billing_record{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 2em;
  }






  .patient_table {
    border-collapse: collapse;
    margin-top: 20px;

    border: 1px solid;
    border-color: white;
    border-radius: 20px;
}

.patient_table th,
.patient_table td {
    padding: 10px;
    text-align: left;

    border-bottom: 1px solid;
    border-right: 1px solid;

}

.patient_table th {
    width: 200px;
    padding-left: 20px;
    background-color: #1c1c1c;
    color: white;
}

.patient_table td {
    color: white;
    width: 400px;
}
.patient_label {
    font-weight: bold;
}