.patient-table {
    border-collapse: collapse;
    margin-top: 20px;

    border: 1px solid;
    border-color: white;
    border-radius: 20px;
}

.patient-table th,
.patient-table td {
    padding: 10px;
    text-align: left;

    border-bottom: 1px solid;
    border-right: 1px solid;

}

.patient-table th {
    width: 200px;
    padding-left: 20px;
    background-color: #1c1c1c;
    color: white;
}

.patient-table td {
    color: white;
    width: 400px;
}
.patient-label {
    font-weight: bold;
}
