{% extends 'dashboard/base.html' %} 

{% load static %}

{%block title%}
    Add Doctor
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/add_doctor.css' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
{%endblock%}

{%block content%}
<div class="container">
    <header>Add Doctor</header>
    {{message|safe}}
    <form action="/add_doctor" method="POST">
        {% csrf_token %}
        <div class="form first">
            <div class="details personal">
                <div class="fields">
                    <div class="input-field">
                        <label>First Name</label>
                        <input type="text" placeholder="Enter your first name" required name="first_name" autofocus="true">
                    </div>

                    <div class="input-field">
                        <label>Last Name</label>
                        <input type="text" placeholder="Enter your last name" required name="last_name">
                    </div>

                    <div class="input-field">
                        <label>Gender</label>
                        <select required name="gender">
                            <option disabled selected>Select gender</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Transgender</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Mobile Number</label>
                        <input type="string" placeholder="Enter mobile number" required name="mobile_number" minlength="10" maxlength="10" pattern="[0-9]{10}">
                    </div>

                    <div class="input-field">
                        <label>Emergency Contact</label>
                        <input type="string" placeholder="Enter Emergency Contact" required name="emergency_contact" minlength="10" maxlength="10" pattern="[0-9]{10}">
                    </div>

                    <div class="input-field">
                        <label>Medical License Number</label>
                        <input type="number" placeholder="Enter Medical License Number" required name="medical_licence_numbar">
                    </div>

                    <div class="input-field">
                        <label>Specialty</label>
                        <select required name="specialty">
                            <option disabled selected>Select specialty</option>
                            <option>General</option>
                            <option>Pediatrics</option>
                            <option>Cardiology</option>
                            <option>Orthopedics</option>
                            <option>Obstetrics and Gynecology</option>
                            <option>Neurology</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Availability</label>
                        <select required name="availability">
                            <option disabled selected>Select specialty</option>
                            <option>Full-time</option>
                            <option>Part-time</option>
                            <option>Shifts</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Addres</label>
                        <input type="string" placeholder="Enter Address" required name="address" maxlength="200">
                    </div>

                    <div class="input-field">
                        <label>Age</label>
                        <input type="number" placeholder="Enter Age" required " name="age">
                    </div>

                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Email Address" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"  required>
                    </div>

                    <div class="input-field">
                        <label>Experience</label>
                        <input type="string" name="experience" placeholder="Years"  required>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <button   class="nextBtn" style="align-self: flex-end;" type="submit">
                    <span class="btnText">Sign Up</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>

    </form>
</div>
{%endblock%}
