{% extends 'dashboard/base.html' %} 

{% load static %}

{%block title%}
    Billing
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/billing.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%endblock%}


{%block content%}
    {% if patients %}
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Who are you looking for?" id="searchInput">
            </div>
        </div>
        <br><br>
        <table class="patient-table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Mobile Number</th>
                <th>Bill</th>
                <th>Paid</th>
                <th>Balance</th>
            </tr>
            {% for patient in patients %}
                <tr class="patient-data">
                    <td class="short_width">{{patient.id}}</td>
                    <td class="name_width">
                        <a href="/billing/{{ patient.id }}" style="color: white; font-weight: bold;">
                            {{ patient.name }}
                        </a>
                    </td>
                    {% if patient.gender == "Male" %}
                        <td class="short_width">M</td>
                    {% elif patient.gender == "Female" %}
                        <td class="short_width">F</td>
                    {% else %}
                        <td class="short_width">T</td>
                    {% endif %}
                    <td class="short_width">{{patient.mobile_number}}</td>
                    <td class="short_width">{{patient.total_bill}}</td>
                    <td class="short_width">{{patient.paid_bill}}</td>

                    {% if patient.balance == 0 %}
                    <td class="white_amount">0.0</td>
                    {% elif patient.balance <= 0 %}
                        <td class="green_amount">+{{patient.balance}}</td>
                    {% else %}
                        <td class="red_amount">-{{patient.balance}}</td>
                    {% endif %}
                </tr>
            {%endfor%}
        </table>
    {%else%}
        <div class="user_not_found_div">
            <h1 class="user_not_found_h1">User Not Found</h1>
        </div>
    {%endif%}
{%endblock%}


{%block extra_js%}
{%endblock%}
