{% extends 'dashboard/base.html' %} 

{% load static %}

{%block title%}
    Dashboard
{%endblock%}

{%block content%}
<table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
  <a href="/test_api_call"><h1>Test API CALL</h1></a>
{%endblock%}
