{% extends 'dashboard/base.html' %} 

{% load static %}

{%block title%}
    Billing
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/billing.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%endblock%}


{%block content%}
    {% if patient %}
        <div>
            <a><button class="go_back_button" onclick="go_back()"><<Back</button></a>
        </div>
        {%if item_list%}

            <h3>Name: {{patient.first_name}} {{patient.last_name}}</h3>
            
            <table class="patient-table">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Cost</th>
                </tr>
                {% for item in item_list %}
                    <tr class="patient-data">
                        <td class="no_width">{{item.id}}</td>
                        <td class="name_width">{{item.name}}</td>
                        <td class="description_width">{{item.description}}</td>
                        <td class="cost_width">₹{{item.cost}}</td>
                    </tr>
                {%endfor%}
                <tr class="patient-data">
                    <td style="border: 0px" />
                    <td style="border: 0px" />
                    <td class="text_right">Total:</td>
                    <td>₹{{total_bill}}</td>
                </tr>
                <tr class="patient-data">
                    <td style="border: 0px;" />
                    <td style="border: 0px;" />
                    <td class="text_right">Paid:</td>
                    <td>₹{{patient.paid_bill}}</td>
                </tr>
                <tr class="patient-data">
                    <td style="border: 0px" />
                    <td style="border: 0px" />
                    <td class="text_right">Balance:</td>
                    {% if balance == 0.0 %}
                        <td class="white_amount">₹0.0</td>
                    {% elif patient.balance < 0 %}
                        <td class="green_amount">+₹{{balance}}</td>
                    {% else %}
                        <td class="red_amount">-₹{{balance}}</td>
                    {% endif %}
                </tr>
            </table>
        {%else%}
            <h1 class="no_billing_record">No Billing record Found for {{patient.first_name}} {{patient.last_name}}</h1>
        {%endif%}
    {%else%}
        <div class="user_not_found_div">
            <h1 class="user_not_found_h1">User Not Found</h1>
        </div>
    {%endif%}
{%endblock%}


{%block extra_js%}
    <script>
        function go_back(){
            window.history.back()
        }
    </script>
{%endblock%}
